* {
    background-color: rgb(44, 25, 112);
}

.enterName {
    border: 1px solid black; 
    margin: 0 30vw 0 30vw;
    padding: 20px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 1%;
    box-shadow: 0px 1px 4px rgb(160, 160, 160);
    background-color: rgb(230, 230, 230);
}

.enterName * {
    background-color: inherit;
}

.enterName input {
    font-size: 20px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.logo h1 {
    text-align: center;
    animation: bounce 1.3s infinite;
    color: rgb(230, 230, 230);
}

.info {
    margin: 50px 20vw 0 20vw;
    padding: 0 10px 0 10px;
    border: 1px solid black;
    box-shadow: 0px 1px 4px rgb(160, 160, 160);
    background-color: rgb(230, 230, 230);
}

.info * {
    background-color: inherit;
}

@keyframes bounce {
    0% { 
        scale: 0.9;
    }
    90% { 
        scale: 1;
    }
    100% {
        scale: 0.9;
    }
}