.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100%;
    border: 1px solid black;
    scale: 90%;
}

.cardDisplay {
    display: flex;
    flex-direction: row;
    min-width: 100%;
}

.propsDisplay {
    display: flex;
    flex-direction: row;
    min-width: 30%;
    border: 1px solid black;
}

.moneyDisplay {
    display: inline-block;
    min-width: 69.8%; /* :) I love CSS!*/
    border: 1px solid black;
}