.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100%;
    border: 1px solid black;
}

.cardDisplay {
    display: flex;
    flex-direction: row;
}

.propsDisplay {
    display: inline-block;
    flex-direction: row;
    min-width: 60%;
    border: 1px solid black;
}

.moneyDisplay {
    display: inline-block;
    min-width: 39.8%; /* :) I love CSS!*/
    border: 1px solid black;
}